[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
awscli = "==1.40.40"
boto3 = "==1.38.41"
evidently = "==0.7.11"
joblib = "==1.5.1"
matplotlib = "==3.10.3"
mlflow = "==3.1.0"
pandas = "==2.3.0"
prefect = "==3.4.6"
prefect-aws = "==0.5.10"
psycopg = "==3.2.9"
psycopg-binary = "==3.2.9"
pyarrow = "==20.0.0"
requests = "==2.32.4"
tqdm = "==4.67.1"
scikit-learn = "==1.7.0"
xgboost = "==3.0.2"

[dev-packages]
ipykernel = "*"
isort = "*"
pylint = "*"
pytest = "*"
black = "*"
pre-commit = "*"

[requires]
python_version = "3.12"
